[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "==2.1.1"
pytest = "==3.9.2"

[packages]
requests = "==2.20.0"
libarchive-c = "==2.8"

[requires]
python_version = "3.6"
