name: Code formatting

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  black:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8

    - name: Install black
      run: |
        # e.g. black==21.7b0
        export BLACK_VERSION=$(grep black setup.py | egrep -o '==[0-9a-z.]+' | sed 's/=//g')

        set -x
        pip install black==${BLACK_VERSION}

    - name: Check code formatting
      run: |
        black --check .
